
.navbar-brand{
    margin: 2%;
}

.nav-link{
    color: rgb(23, 23, 155);
    font-size: 1rem;
    margin-left: 50px;
}

.btn.btn-primary {
    font-size: 1.2rem;
    font-style: normal;
    color: red;
    border: 0.1;
    border-color:hsl(0, 0%, 0%);
    background-color: aliceblue;
}

h2{
    color: rgb(23, 23, 155);
    font-size: 2.5rem; 
    margin-top: 150px;
}

.card{
    margin: 3.5%;
}

.mb-2.text-center{
    font-size: 1.2rem; 
}

.mb-3.text-center{
    font-size: 4rem;
}
